# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini 